#page
	width 100%
	max-width 1180px

#main-content,
#main-footer
	width auto
	max-width 900px

form
	width auto

.form-field
	span
		width 30%
		margin-right 0
		padding-right 20px
		-moz-box-sizing border-box
		box-sizing border-box
	.description
		margin-left 30%

input,
textarea
	width 70%
	-moz-box-sizing border-box
	box-sizing border-box

.ui-select,
.ui-select-dropdown
	width auto
	min-width 200px

select
	width auto

fieldset.actions
	width auto

@media only screen and (max-width : 900px)
	#main-header
		width 200px
	#main-content,
	#main-footer
		margin-left 220px
	label span,
	input,
	textarea
		width 100%
		min-width 200px
		display block
	select.chzn-select
		min-width 400px
	.form-field
		.description
			margin-left 0
	input.button
		min-width 0

@media only screen and (max-width : 600px)
	#main-header
		width auto
		position static
		margin-bottom 18px
		p
			display none
	#main-content,
	#main-footer
		margin-left 0