section#typography
	h1 Typography

	h2 Example Text
	p Lorem ipsum dolor sit amet, 
		strong consectetur adipisicing elit
		| , sed do eiusmod tempor
		em incididunt ut labore
		|  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
		a(href='#')	exercitation ullamco
		|  laboris nisi ut aliquip ex ea commodo consequat. 
		span.tooltip(data-tooltip="Here is a CSS toolip!") Duis aute irure
		|  dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
		span.tooltip.right(data-tooltip="Aligned to the right") sunt in culpa
		|  qui officia deserunt mollit anim id est laborum.

	h1 Heading 1
	h2 Heading 2
	h3 Heading 3
	h4 Heading 4
	h5 Heading 5
	h6 Heading 6