section
	h1 12 Column
	.grid-12
		.row
			.col-12 12
		.row
			.col-1 1
			.col-11 11
		.row
			.col-2 2
			.col-10 10
		.row
			.col-3 3
			.col-9 9
		.row
			.col-4 4
			.col-8 8
		.row
			.col-5 5
			.col-7 7
		.row
			.col-6 6
			.col-6 6

section
	h1 16 Column
	.grid-16
		.row
			.col-16 16
		.row
			.col-1 1
			.col-15 15
		.row
			.col-2 2
			.col-14 14
		.row
			.col-3 3
			.col-13 13
		.row
			.col-4 4
			.col-12 12
		.row
			.col-5 5
			.col-11 11
		.row
			.col-6 6
			.col-10 10
		.row
			.col-7 7
			.col-9 9
		.row
			.col-8 8
			.col-8 8

section
	h1 Nested Grids
	.grid-16
		.row
			.col-5
				.col-2 2
				.col-3 3
			.col-11
				.col-5 5
				.col-1 1
				.col-5
					.col-3 3
					.col-2 2

section
	h1 Custom Widths
	.grid-4
		.row
			.col-4 4
		.row
			.col-1 1
			.col-3 3
		.row
			.col-2 2
			.col-2 2

section.resize
	h1 Flexible Widths
	.grid-12
		.row
			.col-12 12
		.row
			.col-3 3
			.col-9 9
		.row
			.col-6 6
			.col-6 6
		.row
			.col-1 1
			.col-1 1
			.col-1 1
			.col-1 1
			.col-1 1
			.col-1 1
			.col-1 1
			.col-1 1
			.col-1 1
			.col-1 1
			.col-1 1
			.col-1 1