// About
section#about
	h1 About
	p Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo.

// Typography
!= partial('partials/content/typography')

// Forms
!= partial('partials/content/form')

// Notifications
!= partial('partials/content/notification')

// Tables
!= partial('partials/content/table')