nav#main-nav
	ul
		li.nav-about: a(href='/#about') About
		li.nav-typography: a(href='/#typography') Typography
		li.nav-forms: a(href='/#forms') Forms
		li.nav-notifications: a(href='/#notifications') Notifications
		li.nav-tables: a(href='/#tables') Tables
	ul
		li.nav-tables: a(href='/fluid') Fluid Width Page
		li.nav-tables: a(href='/grid') Grids
	ul
		li.nav-list: a(href='/admin/user') CMS List Page
		li.nav-view: a(href='/admin/user/0001') CMS View Page
		li.nav-form: a(href='/admin/user/add') CMS Edit Page
