nav#main-nav
	ul
		li.nav-about: a(href='/#about') About
		li.nav-typography: a(href='/#typography') Typography
		li.nav-forms: a(href='/#forms') Forms
		li.nav-notifications: a(href='/#notifications') Notifications
		li.nav-tables: a(href='/#tables') Tables
		li.nav-tables: a(href='/fluid') Fluid Width